textarea,
input[type="text"] {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	display: block;
	box-sizing: padding-box;
}

textarea {
	height: 250px;
	line-height: 1.5em;
	border: 1px solid #ccc;
	resize: none;
}

label {
	margin: 30px 0 10px 0;
	display: block;
}

input[type="submit"] {
	margin: 30px 0 0 0;
	font-size: 20px;
}

.search {
	width: 50%;
	margin: 0 auto;
	padding: 100px 0;
}